body{
	padding-top : 70px;
	overflow-x  : hidden;
	overflow-y 	: hidden;
	font-size: 12px;
}

.btn {
	font-size: 12px;
}

.navbar > .container-fluid > .navbar-collapse > .btn-group {
	margin-top: 8px;
}

#filters {
	text-align: center;
}

#filters button.btn-primary {
	width 			: 130px;
	margin-right	: 15px;
}

#event-filter-btn {
	margin-left: -91px;
}

#model-filter-btn {
	margin-left: 250px;
}

#filters .btn-group.bootstrap-select {
	margin-bottom: 0;
}

.dropdown-menu.open span.text {
	font-size: 12px !important;
}

button.btn.dropdown-toggle.selectpicker.btn-default {
	padding-right: 30px !important;
}

#results {
	margin-top: 30px;
}

#results h4,
#active-layers h4 {
	text-align: center;
}

.table {
	margin-bottom: 0;
}

.table-wrapper {
	overflow-y	: auto;
}

#results > table > thead > tr > th:nth-child(2) {
	width: 77px;
	text-align: center;
}

#results > div > table > tbody > tr > td:nth-child(2) {
	width: 60px;
}

#results > div > table > tbody > tr > td:nth-child(2) {
	cursor: pointer;
	text-align: center;
}

#active-layers {
	margin-top: 25px;
}

#active-layers table tbody tr td a {
	float: right;
}

#active-layers button {
	float		: right;
	margin-top	: -37px;
}

#active-layers .table-wrapper {
	max-height: 96px;
}

.table-wrapper {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table-wrapper table,
.table-wrapper table tbody tr td {
	border-right: none;
}

.table-wrapper table,
.table-wrapper table tbody tr:last-child td {
	border-bottom: none;
}

.table-wrapper table,
.table-wrapper table tbody tr:first-child td {
	border-top: none;
}

.checkbox-cell {
	width		: 30px;
	text-align	: center;
}

#map {
	border: 1px solid #edece8;
	height: 100%;
}

.slider {
	width: 250px !important;
	float: left;
	margin: 6px 20px;
}

.slider .tooltip-inner {
	max-width: 	none;
}

#time-slider-wrapper {
	margin-top: -40px;
	padding: 0 10px;
}

#time-slider-content {
	margin: 0 auto;
	width: 474px;
}

#time-slider-content .form-control {
	float: left;
	width: 92px;
	padding: 0 6px;
	font-size: 10px;
}